---
layout: default
---

<main class="main-content">

  {% for post in site.posts %}
  <article class="post">
    <header class="post-header">
      <time class="post-date" datetime="{{ post.date | date: "%Y-%m-%d" }}">{{post.date | date: "%B %-d, %Y" }}</time>
      <h2 class="post-title"><a href="{{ site.baseurl }}{{ post.url }}" rel="bookmark">{{post.title}}</a></h2>
    </header><!-- .post-header -->
    <div class="post-content">
      {% if post.content contains '<!--more-->' %}
      {{ post.content | split:'<!--more-->' | first }}
      {% else %}
      {{ post.content }}
      {% endif %}
    </div><!-- .post-content -->
  </article><!-- .post -->
  {% endfor %}

  {% if paginator.total_pages > 1 %}
  <nav class="pagination">
    <h2 class="screen-reader-text">Posts navigation</h2>
    <div class="nav-links">
      {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | relative_url }}" class="newer-posts">&larr; Newer Posts</a>
      {% endif %}
      <span class="page-number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
      {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | relative_url }}" class="older-posts">Older Posts &rarr;</a>
      {% endif %}
    </div>
  </nav><!-- .pagination -->
  {% endif %}

</main><!-- .site-main -->