---
layout: default
---

<main class="main-content">

  <article class="post">
    <header class="post-header">
      <time class="post-date" datetime="{{ page.date | date: "%Y-%m-%d" }}">{{page.date | date: "%B %-d, %Y" }}</time>
      <h1 class="post-title">{{page.title}}</h1>
      {% if page.feature_image and page.feature_image != "" %}
      <figure class="post-thumbnail image-card width-wide">
        <img src="{{ page.feature_image | relative_url }}" alt="{{ page.title }}">
      </figure><!-- .post-thumbnail -->
      {% endif %}
    </header><!-- .post-header -->
    <div class="post-content">
      {{content}}
    </div><!-- .post-content -->
    <div class="post-share">
      <span>Share:</span>
      <a target="_blank"
        href="https://twitter.com/intent/tweet?text={{ page.title | uri_escape }}&amp;url={{ page.url | absolute_url }}" rel="noopener">Twitter</a>
      <a target="_blank" 
      href="https://www.linkedin.com/sharing/share-offsite/?url={{ page.url | absolute_url }}&title={{ page.title | uri_escape }}">LinkedIn</a>
    </div><!-- .share-post -->
  </article><!-- .post -->

</main><!-- .main-content -->